:root {
  --accent-font: League Spartan, sans-serif;
  --accent-text-color: rgba(255, 255, 255, 1);
  --text-color: rgba(255, 255, 255, 0.7);
  --additional-text-color: rgba(102, 102, 102, 1);
  --bg-color: rgba(25, 42, 128, 1);
  --gradient-colors: #142266, #192a80;
  --accent-bg-color: rgba(46, 64, 153, 1);
  --icon-color: rgba(235, 156, 0, 1);
  --small-gap: 16px;
  --medium-gap: 32px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  body {
    background: linear-gradient(180deg, var(--gradient-colors));
  }
}

@media screen and (max-width: 767.5px) {
  .right-wrapper {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .main-wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: var(--medium-gap);
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--medium-gap);
    padding-right: var(--medium-gap);
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1057px) {
  .main-wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

@media screen and (min-width: 1350px) {
  .main-wrapper {
    grid-template-columns: 2fr 5fr;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .container {
    width: 320px;
    padding-left: var(--small-gap);
    padding-right: var(--small-gap);
  }
}

.section {
  padding-bottom: var(--medium-gap);
}

.header {
  padding-top: var(--medium-gap);
  padding-bottom: var(--medium-gap);
}

@media screen and (min-width: 768px) {
  .header {
    padding-left: var(--medium-gap);
    padding-right: var(--medium-gap);
  }
}

@media screen and (min-width: 1057px) {
  .header {
    display: none;
  }
}

@media screen and (max-width: 1057px) {
  .headline {
    display: none;
  }
}

@media screen and (min-width: 1057px) {
  .headline {
    display: block;
  }
}

.title {
  text-align: left;
  font-family: var(--accent-font);
  color: var(--accent-text-color);
  font-weight: 730;
  font-size: 32px;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 36px;
  }
}
@media screen and (min-width: 1057px) {
  .title {
    font-size: 42px;
  }
}

.describe-text {
  text-align: left;
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.4;
}

.describe-text:not(:last-child) {
  margin-bottom: var(--small-gap);
}

@media screen and (min-width: 768px) {
  .info {
    padding-bottom: 48px;
  }
}
@media screen and (min-width: 1057px) {
  .info {
    display: none;
  }
}

.info-heading {
  text-transform: uppercase;
  font-family: var(--accent-font);
  color: var(--accent-text-color);
  font-weight: 730;
  font-size: 14px;
  line-height: 1.2;
  transition: color ease-in-out 250ms;
}

.info-link {
  display: inline-block;
  text-align: left;
  padding: 16px 24px;
  border: solid 2px var(--accent-text-color);
}

.info-heading:hover,
.info-heading:focus {
  color: var(--text-color);
}

.solution-wrapper {
  width: 288px;
  margin-left: auto;
  margin-right: auto;
  padding: var(--medium-gap);
  background-color: var(--accent-bg-color);
}

@media screen and (min-width: 768px) {
  .solution-wrapper {
    width: auto;
  }
}

.solution-heading {
  text-align: left;
  color: var(--text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: var(--small-gap);
}

.solution-list-item {
  margin-bottom: 5px;
}
.solution-list-item:last-child {
  margin-bottom: 0;
}

.solution-list-icon {
  color: var(--icon-color);
  margin-right: var(--small-gap);
  font-size: 20px;
}

.solution-list-link {
  font-family: var(--accent-font);
  color: var(--accent-text-color);
  font-weight: 730;
  font-size: 16px;
  line-height: 1.2;
  transition: color ease-in-out 250ms;
}

.solution-list-link:hover,
.solution-list-link:focus {
  color: var(--text-color);
}

@media screen and (orientation: landscape) and (max-device-width: 672px) {
  body {
    background: linear-gradient(180deg, var(--gradient-colors));
  }
  .container {
    width: 608px;
  }
  .header {
    padding-top: 40px;
  }
  .solution-wrapper {
    width: 608px;
  }
}

.img-thumb {
  position: relative;
}

.example-img-span {
  position: absolute;
  bottom: 12px;
  right: 12px;
  display: none;
  font-size: 11px;
  line-height: 1.2;
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .example-img-span {
    display: block;
  }
}

.example-text-wrapper {
  padding: var(--medium-gap);
  background-color: var(--accent-text-color);
}

.example-heading {
  margin-bottom: 8px;
  text-align: center;
  font-family: var(--accent-font);
  font-weight: 730;
  font-size: 20px;
  line-height: 1.2;
  color: var(--bg-color);
}

.example-text {
  text-align: center;
  font-size: 14px;
  line-height: 1.4;
  color: var(--additional-text-color);
}

@media screen and (min-width: 1057px) {
  .example-text-wrapper {
    padding-right: 48px;
    padding-left: 48px;
  }
}
